<script type="text/javascript">
    $(document).ready(function(){  
        $('#filters').bind("change", function(e){    
            e.preventDefault();  
            var filter = $(this).attr('value');   
            $('.list li').show();  
            $('.list li:not(.' + filter + ')').hide();  
        });  
    });
 </script>

<div>
    <h1><%= link_to 'movies', movies_path, :class => 'add' %></h1>
    <%= link_to 'add more', new_movie_path, :class => 'add' %>
</div>
<div class="filters">
    <p>Filter:</p>
    <select id="filters">
        <option value="Blu-Ray, DVD">All</option>
        <option value="Blu-Ray">Blu-Ray</option>
        <option value="DVD">DVD</option>
    </select>
</div>
<div class="search">
<%= search_form_for @q do |f| %>
    <%= f.label 'search:' %>
    <%= f.search_field :title_cont %>
    <%= image_submit_tag("search.png", :class => 'search') %>
<% end %>
</div>
<ul class="list">
<% cur_letter = nil %>
  <% @movies.each do |movie| %>
    <% movie_letter = movie.title.sub(/^the /i, "")[0].capitalize.match(/[A-Z]/) ? movie.title.sub(/^the /i, "")[0].capitalize : "#" %> 
    <% if movie_letter != cur_letter %>
        <% cur_letter = movie_letter %>
        <h1><%= cur_letter %></h1>
    <% end %>
	  <li class="<%= movie.disc %>">
	    <div class="item_modify">
	      <%= link_to edit_movie_path(movie) do %><%= image_tag 'edit-icon.gif', :class => 'edit' %><% end %>
	      <%= link_to movie, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag 'delete.jpg', :class => 'delete' %><% end %>
	    </div>
	     <h2 class="movie_title"><%= movie.title %></h2>&nbsp;&nbsp;(<%= movie.disc %>)
	   </li>
  <% end %>
</ul>